<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>This is home</h1>
    <h4>Berita Terkini</h4>
    <% news.forEach(data => { %>
    <h5><%= data.title %></h5>
    <p><%= data.content %></p>
    <% }) %>
  </body>
</html>
